<div class="section-form" style="padding-top: 80px">
  <div class="container-form container py-4" >
    <div class="header form">
      <h1 class="text-center">Une question, une demande de devis... ? </h1>
      <p class="text-center">N'hésitez pas à me contacter, je vous répondrai dès que possible ! À très vite.</p>
      <%= simple_form_for @contact, url: contacts_path do |f| %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :entreprise, label: "Entreprise" %>
        <%= f.input :email, label: "Email" %>
        <%= f.input :phone, label: "Téléphone" %>
        <%= f.input :message, label: "Message", as: :text %>
        <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
